    body {
      background-image: url('newm4.png');
      background-repeat: no-repeat;
      background-size: 1600px 1080px;
      background-position: center;
    }
    
    .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      height: 20vh;
    }
    
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      background: transparent;
      box-shadow: 0 0 24px 0 ;
      border-width: 10px;
      border-radius: 11%;
      color: white;
      font-size: 16px;
      text-decoration: none;
      border: none;
      cursor: pointer;
      margin: 10px;
      height: 3vh;
    }
    
    .button:hover {
      background-color: black;
    }
    h1{
      font-size: 4em;
     font-family: times new roman;
      text-shadow: 0 0 10px white , 0 0 20px #35dab1 ;
    }
    .home-button {
            display:inline-block;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0 0 24px 0 ;
      cursor: pointer;
      color: white;
      background: transparent;
      border-width: 10px;
      text-decoration:none;
      align-items: center;
      float: right;
      margin: 1px;
      height: 5vh;
    }
   

     button:hover{
           background-color: black;
           box-shadow: 0 0 24px 0;

          }
          
    .home-button img {
      width: 16px;
      font-family: times new roman;
      height: 16px;
      margin-right: 5px;
    }
     footer {
            background-color: #f2f2f2;
            padding: 10px;
            padding-top: 1px;
            color: white;
            background: transparent;
        }

        img{
          max-width: 10%;
          height: auto;
          float: left;
        }

        body{
          overflow: hidden;
        }
       