<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/regis.css')}}">
 
 <title>Create account</title>

</head>
<body>
  <button class="home-button"  onclick="window.location.href= 'http://127.0.0.1:5000/' ;">
    <img src="https://raw.githubusercontent.com/OSB619/Soundemic/main/images/homebg.png" alt="Home" />
    HOME
  </button>
  <h1>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Create Account</h1>
  <div class="container">
   
   <h1 align="centre">
     Welcome!!!!<br>
     login successful....
   </h1>

  </div>
</body>
</html>
